name: Pyright Linting

on:
  push:
    branches:
      - "main"
    paths:
      - "**/*.py"
  pull_request:
    branches:
      - "main"
    paths:
      - "**/*.py"

jobs:
  pyright-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.5"

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "16"

      - name: Install Pyright
        run: npm install -g pyright

      - name: Run Pyright
        run: |
          pyright